<h1>{{titulo}}</h1>
<div class="row ">
  <div class="col-md-12">
    <form [formGroup]="producto" (ngSubmit)="guardarDatos()">
      <div class="form-group">
        <label>IdProducto</label>
        <input type="text" class="form-control" readonly formControlName="idProducto" />
      </div>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" />
        <div style="color:red" *ngIf="producto.controls['nombre'].errors?.required">
          El nombre del producto es obligatorio
        </div>
        <div style="color:red" *ngIf="producto.controls['nombre'].errors?.maxlength">
          Superó la longitud maxima
        </div>
      </div>
      <div class="form-group">
        <label>Precio</label>
        <input type="number" class="form-control" formControlName="precio" min="0" />
        <div style="color:red" *ngIf="producto.controls['precio'].errors?.required">
          El precio es obligatorio
        </div>
      </div>
      <div class="form-group">
        <label>stock</label>
        <input type="number" class="form-control" formControlName="stock" min="0" />
        <div style="color:red" *ngIf="producto.controls['stock'].errors?.required">
          El stock es obligatorio
        </div>
        <div style="color:red" *ngIf="producto.controls['stock'].errors?.puntoDecimal">
          El stock es numero entero
        </div>
      </div>

      <div class="form-group">
        <label>Marca</label>
        <select formControlName="idmarca" class="form-control">
          <option value="">--Seleccione--</option>
          <option [value]="marca.iidmarca" *ngFor="let marca of marcas">
            {{marca.nombre}}
          </option>
        </select>
        <div style="color:red" *ngIf="producto.controls['idmarca'].errors?.required">
          La marca es obligatorio
        </div>
      </div>

      <div class="form-group">
        <label>Categoria</label>
        <select formControlName="idcategoria" class="form-control">
          <option value="">--Seleccione--</option>
          <option [value]="categoria.iidcategoria" *ngFor="let categoria of categorias">
            {{categoria.nombre}}
          </option>
        </select>
        <div style="color:red" *ngIf="producto.controls['idcategoria'].errors?.required">
          La categoria es obligatorio
        </div>
      </div>
      <div>
        <input [disabled]="!producto.valid" type="submit" value="Guardar" class="btn btn-primary" />
        <button [routerLink]="['/mantenimiento-producto']" class="btn btn-danger">Regresar</button>
      </div>
    </form>
  </div>
</div>

<div style="margin:1em" *ngIf="producto.valid == false">
  <div class="alert alert-danger">
    El formulario no es válido, verifique que sean correctos los datos.
  </div>
</div>
